@import "./reset.css";
@import "./static/assets/stanley.css";
@import "./styles/_customProperties.css";
@import "./styles/typography.css";
@import "./styles/layout.css";

body {
  background-color: var(--C_accentPrimary);
}

.heroIntro-wrapper {
  grid-template-rows: repeat(3, auto);
}

.heroIntro-portrait {
  align-self: center;
  grid-column: -3 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  mix-blend-mode: multiply;
}

.heroIntro-heading {
  display: contents;
}

.heroIntro-headingText,
.heroIntro-body {
  grid-column: 1 / -3;
}

.heroIntro-body {
  align-self: center;
  grid-row: 2;
  margin-left: 0;
}

.heroIntro-headingText--start {
  align-self: flex-end;
  grid-row: 1;
  transform: translateX(2vw);
}

.heroIntro-headingText--end {
  align-self: flex-start;
  grid-row: 3;
  transform: translateX(4vw);
}

/* Main content area */
.summary-item + .summary-item {
  border-top: 1px dashed;
  margin-top: var(--S_default);
  padding-top: var(--S_default);
}

.projects-set + .projects-set {
  margin-top: var(--S_large);
}

.project > * {
  display: inline;
}

.project + .project {
  margin-top: var(--S_default);
}

.footer-contact {
  border-top: 1px solid;
  display: grid;
  font-size: var(--FS_small);
  grid-auto-rows: max-content;
  grid-gap: var(--S_small);
  grid-row-start: 2;
  grid-template-columns: max-content 1fr;
  padding-top: var(--S_large);
}

@media (min-width: 700px) {
  .footer-contact {
    border-top: 0;
    padding-top: 0;
  }
}
