html {
	color: var(--C_textDefault);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	color: var(--C_textDefault);
	font-family: var(--bodyFont);
	font-feature-settings: "liga","kern";
	-moz-font-feature-settings: "liga","kern";
	-moz-font-feature-settings: "liga=1, kern=1";
	-ms-font-feature-settings: "liga","kern";
	-o-font-feature-settings: "liga","kern";
	-webkit-font-feature-settings: "liga","kern";
	font-weight: var(--W_normal);
	font-size: var(--FS_body);
	line-height: var(--lineHeight);
	text-rendering: optimizeLegibility;
}

b,strong {
	font-weight: var(--W_bold);
}

h1, h2, h3, h4, h5, h6 {
	font-size: var(--FS_body);
	font-weight: var(--W_normal);
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
