.currently-activeProjects {
	align-self: start;
}

@media (min-width: 700px) {
	.currently-body {
		grid-row: 1 / span 2;
	}
	.currently-headline {
		grid-column-start: 3;
	}
	.currently-summary {
		grid-row: span 2;
	}
}
