:root {
	--overlapOffsetAmount: calc(var(--spaceSection) * 0.75);
}

.metaInfo {
	background-color: var(--C_black);
}

.contact {
	padding: var(--space);
	background-color: var(--C_yellow);
	transform: translateY(calc(var(--overlapOffsetAmount) * -1));
}

.metaInfo-wrapper {
	align-items: center;
}

.contact-socialItem {
	display: flex;
	align-items: center;
}

.socialItem-icon {
	line-height: 1;
	padding-right: calc(var(--space) / 2);
}

.socialItem-icon svg {
	vertical-align: middle;
}

@media (--medium-viewport) {
	.contact {
		margin-left: calc(var(--space) * -2);
	}
}

@media (--small-viewport) {
	.aboutSite {
		padding-bottom: var(--overlapOffsetAmount);
	}
}
