@import '../customProperties.module.css';
.list > li {
	padding-bottom: var(--space);
}

.list--bordered > li {
	padding: calc(var(--space) / 2) 0;
	border-bottom: 1px solid var(--C_border);
}

.list--bordered > li:first-child {
	padding-top: 0;
}

.list--bordered > li:last-child {
	border-bottom: 0;
}

.list > li:last-child {
	padding-bottom: 0;
}
