@import '../customProperties.module.css';
.siteGrid {
	display: grid;
	grid-gap: var(--space) calc(var(--space)*2);
}

.siteGrid--rows {
	grid-template-rows: repeat(3, auto);
}

@media (min-width: 700px) {
	.siteGrid-mainArea {
		grid-column: 3 / span 4;
	}

	.siteGrid-asideArea {
		grid-column: 1 / span 2;
	}
}

@media (min-width: 700px) {
	.siteGrid--columns {
		grid-template-columns: repeat(6, 1fr);
	}
}

