.grid {
  display: grid;
  grid-gap: var(--S_small) var(--S_large);
  grid-template-columns: repeat(6, 1fr);
}

.grid-side {
  grid-column: 1 / 3;
}

.grid-main {
  grid-column: 3 / -1;
}

.bounds {
  margin: 0 auto;
  max-width: 85vw;
  width: 100%;
}

.section {
  padding: var(--S_section) 0;
}

.margin--center {
  margin: 0 auto;
  width: 100%;
}
