@import '../customProperties.module.css';

:root {
	--defaultTypeSize: calc(var(--baseUnit)*1px);
	--largeTypeSize: calc(var(--baseUnitLarge)*1px);
	--mediumBpInPx: calc(var(--mediumBreakpoint)*1px);
}

html {
	font-size: var(--defaultTypeSize);
}

@media (--medium-viewport) {
	html {
		font-size: calc(var(--defaultTypeSize) + (var(--baseUnitLarge) - var(--baseUnit)) * ((100vw - var(--mediumBpInPx)) / (var(--largeBreakpoint) - var(--mediumBreakpoint))));
	}
}

@media (--large-viewport) {
	html {
		font-size: var(--largeTypeSize);
	}
}

@media (--medium-viewport) {
	.atMedium_text--small {
		font-size: var(--FS_small);
	}
}

.text--big,
.text--hero {
	line-height: var(--lineHeight--small);
}

.text--big {
	font-size: var(--FS_big);
}

.text--hero {
	font-size: var(--FS_hero);
}
